<div>
  <h2>Registrations list</h2>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Food choice</th>
      <th>Going to sauna</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let registration of registrations; index as registrationIndex">
      <td>{{ registrationIndex + 1 }}</td>
      <td>{{ registration.name }}</td>
      <td>{{ registration.email }}</td>
      <td>{{ registration.foodChoice }}</td>
      <td>{{ registration.goingToSauna | BooleanToText }}</td>
    </tr>
  </tbody>
</div>
